{% extends 'layout.twig' %}
{% block body %}

{% include 'error.twig' %}

<section id="contact">
	<div class="container">
		<div class="row center-xs center-sm left-text">
			<div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
				<h1>Contact</h1>
				<p>Please fill out the form so I can learn more about you, your company and your needs.</p>
				{# <p><pre>{{ data | json_encode }}</pre></p> #}
			</div>

			<div class="col-xs-11 col-sm-11 col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1">
				<form accept-charset="UTF-8" method="post" enctype="multipart/form-data" action="{{ url_for('contact-post', {'hash': backend.post_request_obfuscation_hash}) }}" autocomplete="off" novalidate>
					
					<input type="text" name="{{ backend.post_request_obfuscation_hash }}" tabindex="-1" value="{{ backend.post_request_obfuscation_hash }}">
					<input type="text" name="{{ backend.post_request_ready_at }}" tabindex="-1" value="{{ backend.post_request_ready_at }}">

					{# NAME AND ORGNAME #}
					<div class="row form-group">
						<div class="half left">
							<div class="input-section {% if form_errors.name is defined %} error {% endif %}">
								<label>Your full name</label>
								{% if form_errors.name is defined %}
									<div class="error" for="name">{{ form_errors.name | first }}</div>
								{% endif %}
								<input type="text" name="name" placeholder="John Doe" autocomplete="off" {% if old_form_data.name is defined %} value="{{ old_form_data.name }}" {% endif %} title="What's your name?">
							</div>
						</div>

						<div class="half right">
							<div class="input-section {% if form_errors.orgname is defined %} error {% endif %}">
								<label>Your organization name</label>
								{% if form_errors.orgname is defined %}
									<div class="error" for="orgname">{{ form_errors.orgname | first }}</div>
								{% endif %}
								<input type="text" name="orgname" placeholder="Organization Name" autocomplete="off" {% if old_form_data.orgname is defined %} value="{{ old_form_data.orgname }}" {% endif %} title="What's your organization name?">
							</div>
						</div>
					</div>

					{# PHONE AND EMAIL #}
					<div class="row form-group">
						<div class="half left">
							<div class="input-section {% if form_errors.phone is defined %} error {% endif %}">
								<label>Your phone number</label>
								{% if form_errors.phone is defined %}
									<div class="error" for="phone">{{ form_errors.phone | first }}</div>
								{% endif %}
								<input type="text" name="phone" placeholder="Phone Number" autocomplete="off" {% if old_form_data.phone is defined %} value="{{ old_form_data.phone }}" {% endif %} title="What's your phone number?">
							</div>
						</div>
						<div class="half right">
							<div class="input-section {% if form_errors.email is defined %} error {% endif %}">
								<label>Your email address</label>
								{% if form_errors.email is defined %}
									<div class="error" for="email">{{ form_errors.email | first }}</div>
								{% endif %}
								<input type="text" name="email" placeholder="Email Address" autocomplete="off" {% if old_form_data.email is defined %} value="{{ old_form_data.email }}" {% endif %} title="What's your email address?">
							</div>
						</div>
					</div>

					{# LOCATION AND WHAT #}
					<div class="row form-group">
						<div class="half left">
							<div class="input-section {% if form_errors.location is defined %} error {% endif %}">
								<label>Your location</label>
								{% if form_errors.location is defined %}
									<div class="error" for="location">{{ form_errors.location | first }}</div>
								{% endif %}
								<input type="text" name="location" placeholder="Where are you located?" autocomplete="off" {% if old_form_data.location is defined %} value="{{ old_form_data.location }}" {% endif %} title="Where are you located?">
							</div>
						</div>
						<div class="half right">
							<div class="input-section {% if form_errors.what is defined %} error {% endif %}">
								<label>What can we help you with?</label>
								{% if form_errors.what is defined %}
									<div class="error" for="what">{{ form_errors.what | first }}</div>
								{% endif %}
								<input type="text" name="what" placeholder="What can we help you with?" autocomplete="off" {% if old_form_data.what is defined %} value="{{ old_form_data.what }}" {% endif %} title="What can we help you with?">
							</div>
						</div>
					</div>

					{# FREE-HAND TEXT #}
					<div class="row form-group">
						<div class="input-section {% if form_errors.message is defined %} error {% endif %}">
							<label>Your message</label>
							{% if form_errors.message is defined %}
								<div class="error" for="message">{{ form_errors.message | first }}</div>
							{% endif %}
							<textarea cols="30" rows="5" name="message" class="noresize" placeholder="Tell me a bit about your project, timeline, and budget">{{ old_form_data.message }}</textarea>
						</div>
					</div>

					{# SPAM CHECK #}
					<div class="form-group" style="display:none;">
						<div class="input-section" style="position: absolute; left: -5000px;" aria-hidden="true">
							<input type="text" name="_honey" tabindex="-1" value="">
							<input type="text" name="abstraction" tabindex="-1" value="other-form">
							{% if form_errors._honey is defined %}
								<div class="error" for="_honey">{{ form_errors._honey | first }}</div>
							{% endif %}
						</div>
					</div>

					<div class="row form-group">
						<button class="btn blue shadow">SEND MESSAGE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}